body {
    min-width: 1160px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #000000;
    background-color: #ffffff;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
     width: 1160px;
     margin: 0 auto;
     padding: 0 20px;
}

.main-header {
    margin-bottom: 65px;
    padding-top: 50px;
    color: #000000;
    background-color: #eeeeee;
    font-family: "Roboto", "Arial", sans-serif;
}

.index-logo {
    float: left;
    width: 160px;
    height: 65px;
    margin: 0 auto;
}

.index-logo:hover {
    opacity: 0.5;
}

.index-logo:active {
    opacity: 0.2;
}

.main-navigation {
    float: left;
    width: 640px;
    margin-left: 200px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    vertical-align: top;
    text-transform: uppercase;
}

.main-navigation a {
    display: block;
    padding: 25px 48px;
    padding-left: 0;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:active {
    color: #a6a6a6;
}

.main-navigation .active {
    position: relative;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 48px;
    bottom: 20px;
    left: 0;
    height: 2px;
    background-color: #fb565a;
}

.user-block {
    float: right;
    max-width: 120px;
}

.basket {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.basket::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url("../img/basket-icon.png") no-repeat;
}

.basket:hover {
    color: #fb565a;
}

.basket:active {
    color: #a6a6a6;
}

.user-block .active {
    position: relative;
}

.user-block .active::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 20px;
    left: 5px;
    height: 2px;
    background-color: #fb565a; 
}

.btn {
    display: inline-block;
    padding: 16px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e74246;
}

.btn:active {
    color: #e06366;
    background-color: #d7373b;
    box-shadow: inset 0 2px 0 0 #c13135;
}

.slider {
    position: relative;
    width: 1160px;
    height: 415px;
    margin: 0 auto;
}

.slider-controls {
    position: absolute;
    bottom: 105px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls i {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px;
    background: white;
    border: 5px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .active {
    background: white;
    box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eeeeee;
}

.slide-text {
    width: 520px;
    padding: 60px 0;
    color: #283136;
}

.slide-text p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.slide-title {
    padding-bottom: 10px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 600;
    color: black;
}

.slide .btn {
    display: block;
    width: 240px;
    padding: 16px 0;
    margin-top: 40px;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.slide .btn:hover {
     background-color: #e74246;
}

.slide .btn:active {
    color: #e06366;
    background-color: #d7373b;
    box-shadow: inset 0 2px 0 0 #c13135;
}

.slide:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 430px 2px;
}

.slide:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 430px 2px;
}

.slide:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 430px 2px;
}
 
.slide {
    display: none;
}

.slide:nth-child(1) {
    display: block;
}

.features {
    margin-bottom: 70px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 100px;
    padding-top: 17px;
}
    
.features-item:last-child {
    margin-right: 0;
}

.features-name {
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.features-item p {
    margin-top: -6px;
    padding-bottom: 17px;
    width: 248px;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    color: #15b16f;
    background-color: #00aa62;
    box-shadow: inset 0 2px 0 0 #009958;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    color: #edc265;
    background-color: #e5a722;
    box-shadow: inset 0 2px 0 0 #ce961f;
}

.index-content {
    padding-top: 50px;
    padding-bottom: 36px;
    margin-bottom: 20px;
    margin-top: 82px;
    color: #000000;
    background: url("../img/divide.png") no-repeat top,
        url("../img/divide.png") no-repeat bottom;
}

.index-content-left {
    float: left; 
    width: 660px;
    margin-right: 140px;
}

.index-content-left p {
    padding: 8px 0;
    font-size: 16px;
    line-height: 24px;
}

.index-content-left ul {
    list-style: none;
    padding: 0;
}

.content-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.index-content-left .content-title {
    margin-top: 32px;
    margin-bottom: 22px;
}

.service {
    position: relative;
    padding-left: 36px;
    display: block;
    margin-bottom: 18px;
}

.service::after {
   position: absolute;
    content: "";
    width: 27px;
    height: 2px;
    display: block;
    top: 14px;
    left: 0;
    background-color: #fb565a;
}

.index-content-right {
    float: left;
    width: 360px;
    margin-bottom: 6px;
}

.about-us {
    font-size: 45px;
    line-height: 45px;
}

.content-logo {
    margin-top: -10px;
    margin-bottom: 10px;
}

.index-content-right .content-title {
    margin-left: 15px;
}

.about-us-table {
    width: 347px;
    border-collapse: collapse;
}

.about-us-table th {
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
    padding: 42px 25px 0 0;
    text-align: left;
}

.about-us-table td {
    font-size: 16px;
    line-height: 18px;
    padding: 37px;
    padding-left: 0;
    padding-right: 20px;
    text-align: left;
}

.about-us-table sup {
    font-size: 24px;
    vertical-align: middle;
}

.partners-list {
    background: url("../img/divide.png") no-repeat bottom;
    margin-bottom: 75px;
    margin-left: -10px;
    padding-bottom: 28px;
}

.partners {
    width: 1160px;
    font-size: 0;
}

.partners li {
    position: relative;
    display: inline-block;
    padding-top: 30px;
    padding-right: 90px;
    vertical-align: middle;
    border: 2px solid transparent;
}

.partners li:nth-child(2) {
    padding-top: 23px;
}

.partners li:nth-child(3) {
    padding-top: 27px;
    padding-left: 10px;
}

.partners li:last-child {
    padding-left: 28px;
    padding-right: 50px;
}

.partners li::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 55px;
    top: 50%;
    right: 42px;
    transform: translateY(-50%);
    background-color: #eeeeee;
}

.partners li:nth-child(3)::after {
    right: 32px;
}

.partners li:last-child::after {
    display: none;
}

.partners a {
    opacity: 0.2;
}

.partners a:hover {
    opacity: 1;
}

.partners a:active {
    opacity: 0.1;
}

.main-footer .container {
    position: relative;
}

.main-footer {
    margin-bottom: 70px;
    font-family: "Roboto", "Arial", sans-serif;
}  

.contacts {
    position: relative;
    margin-bottom: 70px;
    padding-top: 5px;
    height: 416px;
}

.contacts-map {
    max-width: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.address {
    position: relative;
    top: 40px;
    left: -40px;
    padding: 48px 20px 0 48px;
    width: 250px;
    height: 258px;
    background: #ffffff;
    text-align: left;
    z-index: 2;
}

.address b {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.address p {
    padding-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.address .btn {
    margin-top: 20px;
    padding: 16px 45px;
}

.footer-social-left {
    float: left;
    width: 330px;
    margin-right: 40px;
}

.social-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 7px;
    font-size: 0;
    font-family: "Roboto", "Arial", sans-serif;
    background: url("../img/social-sprite.png") no-repeat;
    background-color: #e1e1e1;
    vertical-align: middle;
    border-radius: 40px;
}

.social-btn:hover {
    background-color: #e74246;
}

.social-btn:active {
    color: #e37376;
    background-color: #d7373b;
}

.social-btn-vk {
    background-position: 25px 28px;
}

.social-btn-fb {
    background-position: -65px 28px;
}

.social-btn-inst {
    background-position: -152px 28px; 
}

.footer-social-right {
    float: right;
    padding-top: 5px;
    width: 760px;
    text-align: left;
}

.footer-social-right p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.call-to-action {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}





/* Всплывающая форма */




.modal-content {
    position: fixed;
    left: 50%;
    bottom: 18%;
    display: none;
    transform: translate(-50%, 0);
    width: 800px;
    padding: 30px 90px 50px 90px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #000000;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 20px 30px 5px #676868;
}

.modal-content-close {
     position: absolute;
     top: 0;
     right: 20px;
     width: 26px;
     height: 26px;
     font-size: 0;
     background-color: transparent;
     border: 0;
     cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
     content: "";
     position: absolute;
     top: 90px;
     left: -70px;
     width: 26px;
     height: 5px;
     background-color: #fecccd;
     border-radius: 1px;
}

.modal-content-close::before {
     transform: rotate(45deg);
}

.modal-content-close::after {
     transform: rotate(-45deg);
}

.modal-content-close:hover::before,
.modal-content-close:hover::after {
      background-color: #fb565a;
}

.modal-content-close:active::before,
.modal-content-close:active::after {
      background-color: #ffeeee;
}

.modal-content-title {
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
}

.modal-content label,
.modal-content .label-style {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.modal-content placeholder {
    font-size: 16px;
    font-size: 18px;
}

write-us-form {
    font-family: "Roboto", "Arial", sans-serif;
}

.write-us-left,
.write-us-right {
    display: inline-block;
}

.write-us-left {
    margin-right: 40px;
}

.write-us-left input[type="text"],
.write-us-left label {
    display: block;
}

.write-us-right input[type="email"],
.write-us-right label {
    display: block;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
    width: 350px;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
}

.write-us-form textarea {
    padding: 15px 10px;
    margin-top: -10px;
    margin-bottom: 40px;
    border-radius: 3px;
    border: 2px solid #d7dcde;
    background-color: #ffffff;
    color: #d7dcde;
    width: 765px;
    height: 120px;
    }

.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover {
    border-color: #b4b9bb;
}

.write-us-form textarea:hover {
    border: 2px solid #b4b9bb;
    color: #b4b9bb;
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus {
    border-color: #000000;
}

.write-us-form textarea:focus {
    border: 2px solid #000000;
    color: #000000;
}

.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid {
    border-color: #e74246;
}

.write-us-form textarea:invalid {
    border: 2px solid #e74246;
    color: #e74246;
}

.write-us-form .btn {
    width: 260px;
}





/* Каталог */

.catalog-header {
    margin-bottom: -35px;
    font-family: "Roboto", "Arial", sans-serif;
}

.catalog-name {
    height: 210px;
    background-color: #eeeeee; 
    padding-top: 50px;
}

.catalog-title {
    padding-top: 10px;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

.catalog-content {
    margin-top: -12px;
    margin-bottom: 50px;
    font-family: "Roboto", "Arial", sans-serif;
}

.catalog-content-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.catalog-content-left {
    width: 260px;
    float: left;
    margin-right: 90px;
    margin-top: 3px;
}

.range-filter {
    width: 260px;
    margin: 47px auto;
    margin-bottom: 54px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 20px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
    left: 160px;
}

.range-text {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
}

.price-controls input {
    width: 70px;
    padding: 10px 5px;
    margin-left: 10px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-style: normal;
    vertical-align: middle;
    text-align: center;
    color: #283136;
    border-radius: 3px;
}

.price-controls .min-price {
    margin-right: 33px;
}

.price-controls {
    white-space: nowrap;
}

.catalog-content-left label {
    width: 220px;
}

.catalog-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 80px;
    width: 260px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Roboto", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.catalog-btn:hover {
    background-color: #dfdfdf
}

.catalog-btn:active {
    background-color: #dfdfdf;
    color: #a6a6a6;
    box-shadow: inset 0 2px 0 0 #bfbfbf; 
}

input[type="radio"], 
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label, 
input[type="radio"] + label {
    display: inline-block;
    position: relative;
    margin-left: 37px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 20px;
    color: #283136;
    cursor: pointer;
}

input[type="radio"] +label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -8px;
    height: 32px;
    width: 32px;
    background-image: url("../img/radio-checkbox-sprite.png");
    background-repeat: no-repeat;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -6px;
    height: 32px;
    width: 32px;
    background-image: url("../img/radio-checkbox-sprite.png");
    background-repeat: no-repeat;
    background-position: -2px 0;
}


input[type="radio"] + label::before {
    background-position: -70px 0;
    opacity: 0.4;
}

input[type="checkbox"] + label::before {
    background-position: 0 0;
    opacity: 0.4;
}

input[type="radio"]:checked + label::before {
    background-position: -105px 0;
    opacity: 0.4;
}

input[type="checkbox"]:checked + label::before {
    background-position: -33px 0;
    opacity: 0.4;
}

input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
    opacity: 1;
}

.catalog-content-left label:hover {
    color: #000000;
}

input[type="radio"]:disabled + label::before,
input[type="checkbox"]:disabled + label::before {
    opacity: 0.1;
}

.catalog-content-left label:disabled {
    color: #ededed;
}

.grid-choise {
    margin-bottom: 30px;
}

.features-choise {
    margin-bottom: -4px;
}

.grid-choise .catalog-content-title,
.features-choise .catalog-content-title {
    margin-bottom: 10px;
}

.catalog-content-right {
    float: left;
    width: 810px;
    margin: 20px auto;
}

.catalog-content-right .catalog-content-title {
    padding-left: 10px;
}

.filter-left {
    float: left;
    width: 140px;
    text-align: left;
    padding-left: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.filter-right {
    float: right;
    width: 360px;
    margin-top: -5px;
    text-align: justify;
}

.filter-right a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: justify;
    font-family: "Roboto", "Arial", sans-serif;
    color: #cccccc;
    cursor: pointer;
    margin-right: 23px;
}

.filter-right a:nth-child(3) {
    margin-right: 35px;
}

.filter-right a:nth-child(4) {
    margin-right: 10px;
}

.filter-right a:last-child {
    margin-right: 0;
}

.filter-right a:hover {
    color: #999999;
}

.filter-right a:active {
    color: #000000;
}

.filter-increase {
    font-size: 0;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cccccc;
}

.filter-decrease {
    font-size: 0;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #cccccc;
}

.filter-increase:hover {
    border-bottom-color: #999999;
}

.filter-increase:active {
    border-bottom-color: #000000;
}

.filter-decrease:hover {
    border-top-color: #999999;
}

.filter-decrease:active {
    border-top-color: #000000;
}

.filter-right .current {
    color: #000000;
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.gallery {
    margin-bottom: 42px;
}

.gallery-item {
    display: inline-block;
    position: relative;
    width: 360px;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.gallery-item:nth-child(2n) {
    margin-right: 0;
    margin-left: 28px;
}

.gallery-item-info {
    position: absolute;
    bottom: 10px;
    width: 280px;
    padding: 30px 40px 38px 40px;
    background: #eeeeee;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
}

.browser-img {
    position: absolute;
    top: 1px;
    display: none;
}

.gallery-item:hover .gallery-item-info {
    position: absolute;
    opacity: 1;
}

.gallery-item:hover .browser-img {
    display: block;
    cursor: pointer;
}

.gallery-item:hover {
    cursor: pointer;
}

.gallery-item-info p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    padding-bottom: 10px;
}

.gallery-item-info .btn {
    padding-right: 60px;
    padding-left: 60px;
}

.pagination {
    margin-bottom: 35px;
    margin-left: 50px;
}

.pagination-btn {
    display: inline-block;
    margin-right: 6px;
    padding: 17px 21px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Roboto", "Arial", sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pagination-btn:last-child {
    width: 260px;
}

.pagination-btn:hover {
    background-color: #dfdfdf
}

.pagination-btn:active {
    background-color: #dfdfdf;
    color: #a6a6a6;
    box-shadow: inset 0 2px 0 0 #a6a6a6;
}

.current-pag {
    background-color: #ffffff;
    border: 3px solid #dfdfdf;
    border-radius: 3px;
    padding: 14px 18px;
}
