body {
    min-width: 1160px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    color: #000000;
    background-color: #ffffff;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  
}

.container {
     width: 1160px;
     margin: 0 auto;
     padding: 0 20px;
     
     
}

.main-header {
    margin-bottom: 65px;
    padding-top: 40px;
    color: #000000;
    background-color: #eeeeee;
}

.index-logo {
    float: left;
    width: 160px;
    height: 65px;
    margin: 0 auto;
}

.index-logo:hover {
    opacity: 0.5;
}

.index-logo:active {
    opacity: 0.2;
}

.main-navigation {
    float: left;
    width: 640px;
    margin-left: 200px;
    
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    vertical-align: top;
    text-transform: uppercase;
}

.main-navigation a {
    display: block;
    padding: 25px 48px;
    padding-left: 0;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation .active {
    position: relative;
    background-color: none;
    
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 48px;
    bottom: 20px;
    left: 0;
    height: 2px;
    background-color: #fb565a;
}

.user-block {
    float: right;
    max-width: 120px;
}

.basket {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.basket::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url("../img/basket-icon.png") no-repeat;
}

.basket:hover {
    color: #fb565a;
}


.btn {
    display: inline-block;
    padding: 16px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e74246;
}

.btn:active {
    color: #e06366;
    background-color: #d7373b;
    box-shadow: inset 0 -2px 0 0 #c13135;
}

/* ВОПРОС: полоску сверху в активном состоянии сделать 
через box-shadow или же с помощью border-top? */

.slider {
    position: relative;
    width: 1160px;
    height: 415px;
    margin: 0 auto;
    
}

.slider-controls {
    position: absolute;
    bottom: 105px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls i {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px;
    background: white;
    border: 5px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .active {
    background: white;
    box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #eeeeee;
}

.slide-text {
    width: 520px;
    padding: 60px 0;
    color: #283136;
}

.slide-text p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.slide-title {
    padding-bottom: 10px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 600;
    color: black;
   
}

.slide .btn {
    display: block;
    width: 240px;
    padding: 16px 0;
    margin-top: 40px;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.slide:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 430px 2px;
}

.slide:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 430px 2px;
}

.slide:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 430px 2px;
}
 
.slide {
    display: none;
}

.slide:nth-child(1) {
    display: block;
}

.features {
    margin-bottom: 90px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 100px;
    padding-top: 15px;
}
    
.features-item:last-child {
    margin-right: 0;
}

.features-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.features-item p {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    color: #15b16f;
    background-color: #00aa62;
    box-shadow: inset 0 -2px 0 0 #009958;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    color: #edc265;
    background-color: #e5a722;
    box-shadow: inset 0 -2px 0 0 #ce961f;
}

.index-content {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    margin-top: 80px;
    color: #000000;
    background: url("../img/divide.png") no-repeat top,
        url("../img/divide.png") no-repeat bottom;
}

.index-content-left {
    float: left; 
    width: 660px;
    margin-right: 140px;
}

.index-content-left p {
    padding: 10px 0;
    font-size: 16px;
    line-height: 24px;
}

.index-content-left ul {
    list-style: none;
    padding: 0;
    
}

.service {
    position: relative;
    padding-left: 40px;
    display: block;
    margin-bottom: 15px;
    
}

.service::after {
   position: absolute;
    content: "";
    width: 27px;
    height: 2px;
    display: block;
    top: 14px;
    left: 0;
    background-color: #fb565a;
}

.index-content-right {
    float: left;
    width: 360px;
}

.about-us {
    font-size: 45px;
    line-height: 45px;
}

.content-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    
}

.about-us-table {
    width: 347px;
    border-collapse: collapse;
}

.about-us-table th {
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 20px;
    text-align: left;
}

.about-us-table td {
    font-size: 16px;
    line-height: 18px;
    padding: 40px;
    padding-left: 0;
    padding-right: 20px;
    text-align: left;
}

.partners-list {
    background: url("../img/divide.png") no-repeat bottom;
    margin-bottom: 80px;
}

.partners {
    width: 1160px;
    padding-bottom: 30px;
    padding-left: 0;
    font-size: 0;
    text-align: center;
    
}

.partners li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 90px;
    opacity: 0.2;
}

.partners li:last-child {
    margin-right: 0;
}

.partners li:hover {
    opacity: 1;
}

.partners li:active {
    opacity: 0.1;
}

.main-footer {
    position: relative;
}

.contacts {
    margin-bottom: 70px;
    width: 1440px;
    height: 416px;
}

.contacts-map {
    max-width: 100%;
    max-width: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -185px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.address {
    position: absolute;
    top: 45px;
    left: 330px;
    padding: 40px 20px 0 20px;
    width: 280px;
    height: 260px;
    background: #ffffff;
    text-align: center;
    z-index: 2;
}

.address b {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.address p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    
}

.address a {
    margin-top: 30px;
}

.footer-social-left {
    float: left;
    width: 330px;
    margin-right: 60px;
    
}

.social-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    font-size: 0;
    background: url("../img/social-sprite.png") no-repeat;
    background-color: #e1e1e1;
    vertical-align: middle;
    border-radius: 40px;
}

.social-btn:hover {
    background-color: #e74246;
}

.social-btn:active {
    color: #e37376;
    background-color: #d7373b;
}



.social-btn-vk {
    background-position: 25px 28px;
}

.social-btn-fb {
    background-position: -65px 28px;
}

.social-btn-inst {
    background-position: -152px 28px; 
}

.main-footer {
  margin-bottom: 70px;  
}

.footer-social-right {
    float: right;
    width: 770px;
    text-align: left;
}

.footer-social-right p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.call-to-action {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}





/* Каталог */

.catalog-header {
    margin-bottom: -35px;
}

.catalog-name {
 height: 210px;
 background-color: #eeeeee; 
 padding-top: 50px;
}

.catalog-title {
   padding-top: 10px;
   font-size: 55px;
   line-height: 55px;
   text-align: center;
}

.catalog-content {
    margin-top: -35px;
    margin-bottom: 70px;
}

.catalog-content-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}



.catalog-content-left {
    width: 240px;
    float: left;
    margin-right: 100px;
    
}

.range-filter {
    width: 240px;
    margin: 50px auto;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 20px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
    left: 155px;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #283136;
    border-radius: 5px;
}

.price-controls .min-price {
    margin-right: 14px;
}

.price-controls {
    white-space: nowrap;
}

.catalog-content-left label {
    width: 220px;
    
    
}

.catalog-btn {
    display: inline-block;
    padding: 15px 80px;
    width: 240px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: none;
    border-radius: 2px;
}

input[type="radio"], 
input[type="checkbox"] {
    display: none;
}


input[type="checkbox"] + label, 
input[type="radio"] + label {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
    
input[type="radio"] +label::before {
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 0 12px 0 0;
    background-image: url("../img/radio-checkbox-sprite.png");
    background-repeat: no-repeat;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 0 12px 0 0;
    background-image: url("../img/radio-checkbox-sprite.png");
    background-repeat: no-repeat;
}

input[type="radio"] + label::before {
    background-position: -38px 0;
    opacity: 0.4;
}

input[type="checkbox"] + label::before {
    background-position: 0 0;
    opacity: 0.4;
}

input[type="radio"]:checked + label::before {
    background-position: -38px -38px;
    opacity: 0.4;
}

input[type="checkbox"]:checked + label::before {
    background-position: 0 -38px;
    opacity: 0.4;
}

.catalog-content-right {
    width: 820px;
    float: left;
    margin: 20px auto;
}

.filter-left {
    float: left;
    width: 140px;
    text-align: left;
    padding-left: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.filter-right {
    float: right;
    width: 420px;
    text-align: right;
    
}

.filter-right a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #cccccc;
    cursor: pointer;
    margin-left: 27px;
}

.filter-right a:hover {
    color: #999999;
}

.filter-right a:active {
    color: #000000;
}

.filter-increase {
   font-size: 0;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cccccc;
}

.filter-decrease {
    font-size: 0;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #cccccc;
}

.filter-increase:hover,
.filter-decrease:hover {
    color: #999999;
}

.filter-increase:active,
.filter-decrease:active {
    color: #000000;
}

.gallery {
    margin-bottom: 40px;
}

.gallery-item {
    display: inline-block;
    position: relative;
    width: 360px;
    vertical-align: middle;
    margin-right: 15px;
}

.gallery-item:nth-child(2n) {
    margin-right: 0;
}

.gallery-item-info {
    position: absolute;
    top: 390px;
    width: 360px;
    height: 215px;
    background: #eeeeee;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
}

.gallery-item-info:hover {
    position: absolute;
    opacity: 1;
}

.gallery-item-info p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.pagination {
    margin-bottom: 60px;
    margin-left: 40px;
}

.pagination-btn {
    display: inline-block;
    margin-right: 10px;
    padding: 20px;
     width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.pagination-btn:last-child {
    width: 260px;
}

.pagination-btn:hover {
    background-color: #dfdfdf
}

.pagination-btn:active {
    background-color: #dfdfdf;
    color: #a6a6a6;
    box-shadow: inset 0 -2px 0 0 #a6a6a6;
}



